.ui-dialog input[type="text"].manual-entry {
  width: 94%;
}

div.ac_results span.username { color: black; }
div.ac_results span.detail { color: grey; }

input.ac_loading { background-image: url('../loading.gif') }

div.searchnote { 
                 color: grey; 
                 font-size: x-small;
                 }

img.cancelsearch { 
                   cursor: pointer;
                   margin-left: 3px;
                   }